<html lang="pt-BR">

<head>
  <meta charset="utf-8">

  <title>Cadastro Atividade</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">

  <!-- Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="css/new-age.min.css">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container">
      <font color="white">
        <h3> Zika Web </h3>
      </font>
    </div>
    </div>
  </nav>
  <!-- Fim Navigation -->



  <!-- Cadastro -->
  <section class="cadastro" id="cadastro">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="feature-item">
                  <form method="post" action="/ranking/escola/<%=school[0].id%>">
                    <h3>RANKING ESCOLA
                      <%=school[0].name%>
                    </h3>

                    <div style="padding-top:30px" class="panel-body">

                      <input name="SearchBox" type="text" value="<%=SearchBoxValue%>" id="SearchBox">
                      <input name="Search" type="Submit" value="Search">

                      <label id="msgBox" style="color:green"><%=message%></label>
                      <input type="hidden" value="<%=message%>" id="msg">

                      <table border="1" cellpadding="7" cellspacing="10">
                        <tr>
                          <th width="100px">No</th>
                          <th>Nome</th>
                          <th>Pontos</th>
                          <th width="150">Ano</th>
                        </tr>

                        <% if(data.length){ 
                                            
                             for(var i = 0; i < data.length;i++) { %>

                          <tr>
                            <td>
                              <%=(i+1)%>
                            </td>
                            <td>
                              <%=data[i].name%>
                            </td>
                            <td>
                              <%=data[i].points%>
                            </td>
                            <td>
                              <%=data[i].year%>ª ano
                            </td>
                          </tr>
                          <% }
                        
                         }else{ %>
                            <tr>
                              <td colspan="8">Sem alunos</td>
                            </tr>
                            <% } %>



                      </table>


                    </div>
                  </form>
                </div>
                <a class="btn btn-info" href="/ranking/escolas">voltar</a>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Fim Cadastro-->

  <!-- Bootstrap core JavaScript -->
  <script type="text/js" src="../../vendor/jquery/jquery.min.js"></script>
  <script type="text/js" src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script type="text/js" src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script type="text/js" src="../../js/new-age.min.js"></script>

</body>

</html>