<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();">+ Add</button>
           <a class="a-inside edit" href="../escola/cadastro">add escola</a>

           <a class="a-inside delete" href="../sistema/logout">logout</a>
           <a class="a-inside edit" href="../admin/pendentes">panel</a>
         </div>

         <div class="data-table">
         <div class="col-md-6 col-sm-12">
                        <strong class="text-uppercase">username: </strong>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p class="font-weight-light"><%= user.name %></p>
                    </div>
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].address%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].email%></td>
                    <td>
                        <a class="a-inside edit" href="../sistema/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../sistema/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
